<section class="DessertMenu{{#if inline}} DessertMenu--inline{{/if}} u-posAbsoluteCenter">
  <header class="DessertMenu-header">
    <h2 class="DessertMenu-headerText"> {{title}}</h2>
  </header>
  <ul class="DessertMenu-items">
    {{#each desserts}}
    <li class="DessertMenu-item">
      <h3 class="DessertMenu-itemTitle">{{dessert-name}}</h3>
      <p class="DessertMenu-itemDescription">{{dessert-desc}}
        <span class="DessertMenu-itemPrice"> {{dessert-price}} </span>
      </p>
    </li>
    {{/each}}
  </ul>
</section>
