
@import "_variables.css";
@import "_suitcss.css";
@import "_DessertMenu.css";

@custom-media --sm-viewport (min-width: 320px);
@custom-media --md-viewport (min-width: 640px);
@custom-media --lg-viewport (min-width: 960px);

html {
  color: var(--base-color);
  font-size: var(--font-size-root);
}

body {
  height: 100vh;
  width: 100%;
}
